.header__currency {
    border: 1px solid #fff;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    box-sizing: border-box;
    padding: 12px;
}