.advantages {
  background-image: url(../../images/advantages/advantagesbg.png);
  background-position: top center;
  background-size: initial;
  background-repeat: no-repeat;
  padding-bottom: 180px;
}
